<app-computer-progression-entry
  computerImage="assets/img/mainframe.svg"
  [separation]="1"
  class="cpe"
>
  First, computers were big mainframes, big enough that you can even be touching one and still be far away from some of its parts.
</app-computer-progression-entry>

<app-computer-progression-entry
  computerImage="assets/img/desktop.svg"
  [separation]="0.5"
  class="cpe"
>
  Then, they started fitting on our desks.
</app-computer-progression-entry>

<app-computer-progression-entry
  computerImage="assets/img/laptop.svg"
  [separation]="0.25"
  class="cpe"
>
  Even our laps.
</app-computer-progression-entry>

<app-computer-progression-entry
  computerImage="assets/img/phone.svg"
  [separation]="0.125"
  class="cpe"
>
  And now, they live nearly touching our bodies, in our pockets.
</app-computer-progression-entry>

<div class="prompt-container">
  <p class="prompt">
    But can it get any closer?
  </p>
  <a [routerLink]="['', 'smartwatch']" class="cta">Yes it can.</a>
</div>
